<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
</style>
* {


    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.btn-primary{

  border-radius: 8px;
  background: #FF900E;
  color: #FFF;
text-align: center;
/* font-family: Work Sans; */
font-size: 1.25rem;
padding: 20px 25px;
/* font-style: normal; */
cursor: pointer;
border: 0;



}
header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px;
}
nav{

display: flex;
justify-content: space-between;

align-items: center;
}

.nav-title{

font-size: 2.8rem;  ]
font-weight: 700;
/* color: #131313;
 */
color: #131313;
}
nav > ul{
  display: flex;
}
nav li{
list-style: none;
margin-right:30px;
font-size: 18px;

font-weight: 500;

}
nav li a{

text-decoration: none;
color: #424242;

}
/* banner styles */
.banner-content{


  max-width: 800px;
  text-align: center;
  margin:0 auto;
  
}
.banner-title{
color: #131313;
  font-size: 4rem;
  font-weight: 700;

}
.banner-description{
color: #727272;


}
.banner img{
  margin-top: 20px;
  width: 100%;
}
/* responsive media query */
/* mobile devices+ */
@media screen and (max-width: 576px){
  header{

padding: 20+px;

  }
  nav{
    flex-direction: column;
  }
  
}
@media screen and (min-width:576px) and (max-width:960px) {
   header{

    padding: 20px;
    
      }
      nav{
        flex-direction: column;
      }
  
}